/* remove default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html */
html {
  scroll-behavior: smooth;
}

/* body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:linear-gradient(135deg,#667eea 0%,#764ba2 100%) ;
  }

/* nav */
.navbar-brand a {
color: rgb(165, 49, 165)
}

/* main */

main{
  margin-top: 5%;
}
.card{
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius:20px;
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
#question {
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
}
#answer-options {
  list-style-type: upper-latin;
}
.btn-outline-primary:hover{
  transform:translateY(-2px);
  transition: all 0.3s ease;
  background-color: #5a67d8;
  color: white;
}
.answerButton{
  max-width: 100%;
  width: 100%;
}

