/* remove default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html */
html {
  scroll-behavior: smooth;
}

/* body */

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 214, 241); 
  background-image: url(Images/milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
  
}

/* nav */
.navbar-brand a {
color: rgb(165, 49, 165)
}

/* main */

main{
  margin-top: 5%;
}

